.bodyDetail {
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: $color-background;

  .detail {
    border-radius: 15px;
    width: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    position: relative;

    .textDetail {
      list-style-type: none;
      background-color: $color-primary;
    }
    .Close {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 20px;
    }
    .imgDetail {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // width: 300px;
      // height: 300px;
      height: 100px;
      width: 100px;
      flex-shrink: 0;
      border-radius: 50%;
      overflow: hidden;

      .imgDetailExact {
        // width: 100%;
        // height: 90%;
        // object-fit: contain;
        // border-radius: 60%;
        max-width: 150%;
        width: 130px;
        object-position: 50% 50%;
        object-position: -15px -5px;
      }
    }
  }
}
