.filterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.inputFilter {
  border: 3px solid $color-fontPrimary;
  border-radius: 7px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.formFilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.resetButton {
  border: none;
  border-radius: 15px;
  height: 40px;
  width: 92px;
  cursor: pointer;
}
