.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleImgII {
  display: none;
}
@include for-mobile {
  .titleImg {
    display: none;
    height: 267px;
    width: 300px;
  }
  .titleImgII {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 267px;
    width: 300px;
  }
}
