@import "./core/reset";
@import "./core/variables";
@import "./core/mixins";
@import "./layout/header";
@import "./layout/filter";
@import "./layout/characterDetail";
@import "./layout/characterList";

//COMPONENTS

* {
  color: $color-fontPrimary;
  text-decoration: none;
  font-family: $font-primary;
  font-size: 23px;
}
.bodyMain {
  background-color: $color-background;
  @include for-tablet {
    margin: 15px;
  }
  @include for-mobile {
    margin: 15px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }
}
